# =================================================
# == CONFIGURAÇÕES PARA AMBIENTE DOCKER (PostgreSQL) ==
# =================================================
# Copie este conteúdo para um arquivo .env na raiz do projeto

# -- Configurações do Django --
# AVISO: A SECRET_KEY abaixo é insegura e serve apenas para desenvolvimento.
SECRET_KEY='django-insecure-docker-secret-key-for-development'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,app


# -- Configuração do Banco de Dados --
# Para usar PostgreSQL, esta linha pode ser comentada ou removida,
# pois o settings.py usará o PostgreSQL como padrão.
# DATABASE_ENGINE=django.db.backends.postgresql

# Estas variáveis devem corresponder às definidas no docker-compose.yml
POSTGRES_DB=sympla_events_db
POSTGRES_USER=sympla_user
POSTGRES_PASSWORD=strongpassword

# IMPORTANTE: O host do banco de dados é o nome do serviço no docker-compose.yml
POSTGRES_HOST=db

POSTGRES_PORT=5432


# -- Configurações da API Externa --
SYMPLA_API_TOKEN="COLOQUE_SEU_TOKEN_REAL_DA_API_DA_SYMPLA_AQUI"
SYMPLA_BASE_URL="https://api.sympla.com.br/public/v1.5.1/events"